body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: blue;
}

nav a:hover {
    background-color: greenyellow;
}

#quiz {
    padding: 10%;
}

.button {
    background-color: rgb(58, 43, 136);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 16px;
    margin: 4px 2px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(202, 65, 202);
}