nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: blue;
}

nav a:hover {
    background-color: greenyellow;
}

#quiz {
    display: flex;
    justify-content: space-around;
}